#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "stirling"
name = "Stirling PDF"
description.en = "Application that allows you to perform various operations on PDF files"
description.fr = "Expliquez en *quelques* (10~15) mots l'utilité de l'app ou ce qu'elle fait (l'objectif est de donner une idée grossière pour des utilisateurs qui naviguent dans un catalogue de 100+ apps)"

version = "0.29.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
website = "https://www.stirlingpdf.com/"
demo = "https://stirlingpdf.io/"
admindoc = "https://github.com/Stirling-Tools/Stirling-PDF/blob/main/LocalRunGuide.md"
userdoc = "https://docs.stirlingpdf.com/"
code = "https://github.com/Stirling-Tools/Stirling-PDF"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    rename= "Stirling-PDF.jar"
    url = "https://github.com/Stirling-Tools/Stirling-PDF/releases/download/v0.29.0/Stirling-PDF.jar"
    sha256 = "93641da96c075f7ef1c1d594d4d2cb62633f1dfc340a495216634a5a6b53da3d"

    # autoupdate.strategy = "latest_github_tag"

    [resources.sources.jdk]
    amd64.url = "https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.4%2B7/OpenJDK21U-jdk_x64_linux_hotspot_21.0.4_7.tar.gz"
    amd64.sha256 = "51fb4d03a4429c39d397d3a03a779077159317616550e4e71624c9843083e7b9"
    arm64.url = "https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.4%2B7/OpenJDK21U-jdk_aarch64_linux_hotspot_21.0.4_7.tar.gz"
    arm64.sha256 = "d768eecddd7a515711659e02caef8516b7b7177fa34880a56398fd9822593a79"
    autoupdate.strategy = "latest_github_release"
    autoupdate.version_regex = "jdk-(\\d+\\.\\d+\\.\\d+)\\+(.*)"
    autoupdate.upstream = "https://github.com/adoptium/temurin21-binaries"
    autoupdate.asset.amd64 = "OpenJDK.*-jdk_x64_linux_hotspot_.*\\.tar\\.gz$"
    autoupdate.asset.arm64 = "OpenJDK.*-jdk_aarch64_linux_hotspot_.*\\.tar\\.gz$"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "tesseract-ocr-fra"
